<!DOCTYPE html>
<html>
<title>Lempar Dadu</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/jpg" href="https://image.flaticon.com/icons/png/512/606/606084.png" />

<body>

    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Anda Melempar Dadu</h1>
            <h2 style="font-size: 350px;" size="width:50%;height:50%;">{{dadu}}</h2>
            <a href="/" class="btn btn-primary">Lempar Dadu</a>
        </div>


</body>

</html>