<html>

<head>
    <title>Belajar Flask</title>
</head>

<body>
    <div>
        {% for data in value %}
        <li>{{data}}</li>
        {% endfor %}
    </div>
    <div>
        {% if suasana == "senang" %}
        <p>Dia Juga Cinta</p>
        {% elif suasana == "sedih" %}
        <p>Dia Juga Sedih</p>
        {% else %}
        <p>Dia Sedih</p>
        {%endif%}
    </div>
    <div>
        {% set hari = "jumat berkah"%}
        <p>{{ hari }}</p>
    </div>
    <div>
        {% for data in value %} {% if data == "Senin"%}
        <p>Aku Senang Sekali</p>
        {%elif data == "Minggu"%}
        <p>Aku Libur senengnya</p>
        {%endif%} {% endfor %}
    </div>
</body>

</html>